Repository NitriKx/adguard-home-helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-template, helm-dependency

helm-lint:
  name: Helm Lint
  entry: bash -c 'helm lint charts/adguard-home'
  language: system
  pass_filenames: false

helm-template:
  name: Helm Template Validation
  entry: bash -c 'helm template test charts/adguard-home > /dev/null'
  language: system
  pass_filenames: false

helm-dependency:
  name: Helm Dependency Check
  entry: bash -c 'helm dependency list charts/adguard-home'
  language: system
  pass_filenames: false

chore(main): release 1.0.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(main): release 1.1.0
  CHANGELOG.md
Due: none

feat: initial import
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .helmignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  Taskfile.yml
  charts/adguard-home/.helmignore
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
  charts/adguard-home/templates/_helpers.tpl
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/templates/extra-manifests.yaml
  charts/adguard-home/templates/ingress.yaml
  charts/adguard-home/templates/pvc.yaml
  charts/adguard-home/templates/service.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/tests/extra_manifests_test.yaml
  charts/adguard-home/tests/ingress_test.yaml
  charts/adguard-home/tests/persistence_existing_pvc_test.yaml
  charts/adguard-home/tests/persistence_volume_name_test.yaml
  charts/adguard-home/tests/resources_test.yaml
  charts/adguard-home/tests/service_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template, helm-dependency

chore: update readme
  .pre-commit-config.yaml
  README.md
Due: none

feat: update chart-releaser
  .github/workflows/release.yml
Due: none

feat: create different services for the different use cases
  charts/adguard-home/README.md
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/templates/ingress.yaml
  charts/adguard-home/templates/service.yaml
  charts/adguard-home/tests/ingress_test.yaml
  charts/adguard-home/tests/service_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

feat: create different services for the different use cases
  .github/workflows/ci.yml
  .helmignore
  CHANGELOG.md
  Taskfile.yml
  charts/adguard-home/README.md
  charts/adguard-home/templates/pvc.yaml
  charts/adguard-home/templates/service.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/tests/persistence_existing_pvc_test.yaml
  charts/adguard-home/tests/persistence_volume_name_test.yaml
  charts/adguard-home/tests/service_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

feat: initial import
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yml
  charts/adguard-home/.helmignore
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
  charts/adguard-home/templates/_helpers.tpl
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/templates/extra-manifests.yaml
  charts/adguard-home/templates/ingress.yaml
  charts/adguard-home/templates/pvc.yaml
  charts/adguard-home/templates/service.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/tests/extra_manifests_test.yaml
  charts/adguard-home/tests/ingress_test.yaml
  charts/adguard-home/tests/persistence_existing_pvc_test.yaml
  charts/adguard-home/tests/persistence_volume_name_test.yaml
  charts/adguard-home/tests/resources_test.yaml
  charts/adguard-home/tests/service_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template, helm-dependency

fix: add maintainer to the Chart
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
Due: helm-lint, helm-template, helm-dependency

chore(main): release 1.0.1
  CHANGELOG.md
Due: none

Update index.yaml
  index.yaml
Due: none

ci: disable the GH release creation by release-please
  .github/workflows/ci.yml
Due: none

feat: add workload type selection and replica configuration
  README.md
  charts/adguard-home/README.md
  charts/adguard-home/templates/_helpers.tpl
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/templates/pvc.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

fix: use emptydir when disabling the persistance
  charts/adguard-home/README.md
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

fix: disable security context
  charts/adguard-home/README.md
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

feat: use the 11notes/docker-adguard image
  .github/release-please-manifest.json
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/tests/extra_volumes_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template, helm-dependency

ci: integrate helm unittest into pre-commit workflow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix: ensure helm-unittest plugin availability in CI
  .pre-commit-config.yaml
Due: none

fix: ensure helm-unittest plugin availability in CI
  .github/workflows/ci.yml
Due: none

fix: ensure helm-docs availability in CI pre-commit environment
  .pre-commit-config.yaml
Due: none

refactor: remove helm-docs hook to preserve manual README
  .pre-commit-config.yaml
Due: none

feat: use security context by default
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

fix: chown the generated config file
  charts/adguard-home/templates/deployment.yaml
Due: helm-lint, helm-template

chore: release v1.2.0
  .github/release-please-manifest.json
  charts/adguard-home/Chart.yaml
Due: helm-lint, helm-template, helm-dependency

fix: ensure StatefulSet uses emptyDir when persistence=false
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/tests/extra_volumes_test.yaml
Due: helm-lint, helm-template

feat: enhance AdGuard Home health checks
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

feat: create the configuration file by default
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

fix: fix the YAMl config templating
  charts/adguard-home/templates/deployment.yaml
  charts/adguard-home/tests/default_test.yaml
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

fix: remove the default user
  charts/adguard-home/values.yaml
Due: helm-lint, helm-template

Path conditions:
  helm-lint: any of: ^charts/adguard-home/
  helm-template: any of: ^charts/adguard-home/
  helm-dependency: any of: ^charts/adguard-home/Chart\.yaml$
